<div class="container my-8">
    <div class="row ">
        <div class="col-lg-6">
            <h5 > الوظائف ألمفتوحه:</h5>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="isLoading==true">
        <div class="col-md-12 text-center">
            <div class="fa-4x">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>   
        </div>
    </div>
    <div *ngIf="records.length">
        <table id="recordstable" datatable  [dtOptions]="this.dtOptions" class="table table-responsive border-dark border-top table-bordered  table-striped row-border table-sm w-100 p-0 m-0">
            <thead >
              <tr>
                <th>#</th>
                <th>عنوان الوظيفة</th>
                <th>الشهادة</th>
                <th>الفئة</th>
                <th>العدد المطلوب</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of records;let i=index;">
                <td>{{i+1}}</td>
                <td>{{item.title}}</td>
                <td>{{item.degree}}</td>
                <td>{{item.notes}}</td>
                <td >{{item.JobsNumber}}</td>
              </tr>
            </tbody>
        </table>


    </div>

</div>
