<div class="container my-8">
    <div class="row">
        <h5 class="py-3">الشروط :</h5>
        <div class="col-lg-12">
            <ul>
                <li>
                    يجب ان يكون ألمتقدم من مكون الاقليات المسيحية أو ألشبك فقط.
                </li>
                <li>
                    يجب ان يكون المتقدم حاصل على شهادة البكالوريوس او ما يعادلها حسب ألدرجة المطلوب ألتقديم عليها
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h5 class="py-3">أحتساب ألنقاط:</h5>
        <div class="col-lg-12">
            <p>
                يتم أحتساب النقاط والمفاضلة بين المتقدمين حسب ألمادة سادسا من قرار مجلس الوزراء رقم (403) لسنة 2018 والمنعقدة بتاريخ 23/10/2018 وحسب ألاتي :-
            </p>
            <ol>
                <li >
                    <Strong> ألعقد:- </Strong> يمنح ألمتعاقد مع مؤسسات ألدولة درجتين عن كل سنة تعاقدية وبما لا يتجاوز )25) درجة.
                </li>
                <li class="mt-1">
                    <strong> ألاجور أليومية :-</strong> يمنح الاجير أليومي أو ألمتطوع للعمل درجة عن كل سنة وبما لا يتجاوز (25) درجة.
                </li>
                <li class="mt-1">
                    <strong>معدل ألتخرج:- </strong> يتم أحتساب درجة المعدل حسب ألتقدير وكالاتي:
                    <ul class="mt-1" style="list-style-type:square;">
                        <li> أمتياز  25 درجة . </li>
                        <li> جيد جدا 20 درجة . </li>
                        <li> جيد 15 درجة .</li>
                        <li> متوسط 10 درجات .</li>
                        <li>  مقبول 5 درجات .</li>
                    </ul>
                </li>
                <li class="mt-1">
                    <strong> سنة ألتخرج :-</strong> تمنح درجة واحدة عن كل سنة تخرج وبما لا يزيد عن (5) درجات.
                </li>
                <li class="mt-1">
                    <strong>ألحالة ألزوجية :-</strong> يتم أحتساب ألدرجات للحالة الزوجية كالأتي:
                    <ul class="mt-1" style="list-style-type:square;">
                        <li>متزوج وألزوج غير معين أو أرمل أو مطلق وله أولاد (10) درجات.</li>
                        <li> متزوج والزوج غير معين وليس له اولاد (5) درجات.</li>
                        <li> أن عدم منح غير ألمتزوج أي درجة لا يعني أستبعاده من ألمنافسة .</li>
                    </ul>
                </li>
                <li>
                    <strong> درجة ألاختبار:</strong> يجري أختبار تحرير أو عملي ويتم الترشيح للتعيين من بين ألناجحيين بحسب معدل ألنجاح في ألاختبار ويمنح ألناجحين درجات أضافية وبما لا يزيد على 10 درجات .
                </li>
            </ol>
        </div>

    </div>
    <div class="row">
        <h5 class="py-3">المستمسكات ألمطلوبة:</h5>
        <div class="col-lg-12">
            <ul>
                <li>
                    نسخة من هوية الاحوال المدنية أو البطاقة ألموحدة
                </li>
                <li>
                    الشهادة الجامعية مختومه ومصدقة
                </li>
                <li>
                    أذا كنت من الثلاثة ألاوائل على الكلية يجب ارفاق مستند يثبت صحة ذلك.
                </li>
                <li>
                    أذا كنت من ذوي ألشهداء أو ألسجناء ألسياسيين يجب ارفاق مستند يثبت صحة ذلك.
                </li>
                <li>
                    أذا كنت من احد مكونات ألاقلية يجب  يجب ارفاق مستند يثبت صحة ذلك.
                </li>
            </ul>
        </div>

    </div>

</div>
