<div class="row">
    <div class="col-md-12">
     <form #frm="ngForm" (change)="onChange(frm)">
         <div *ngFor="let item of SourceCategories;let i=index;" class="pb-1 mb-2">
             <h4 class="font-size-20 mb-3 pr-3 border-bottom pb-1">{{item.title}} :</h4>
             <div *ngFor="let value of item.values;let j=index;" class="icheck-greensea mr-3">
                 <input class="box" type="checkbox" [checked]="TargetCategories.isChecked(item.key,value)"  (change)="onCheckboxChange(i,$event)"  [name]="item.key" [value]="value" id="item.key_value_{{i}}_{{j}}">
                 <label for="item.key_value_{{i}}_{{j}}">{{value}}</label>
             </div>                       
         </div>
     </form>
    </div>
 </div>